@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');
@import "reset.css";
@import "topsection.css";
@import "technologies.css";
@import "portfoliosection.css";
@import "about.css";
@import "footer.css";

.container {
    max-width: 1150px;
    margin: 0 auto;
}