#contact {
    padding: 80px 15px;
   
}

#contact .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#contact .title .triangle {
    position: absolute;
    background: #fff;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 75px 150px 75px;
    border-color: transparent transparent #ffeded transparent;

    top: 23;
}

#contact .title h1 {
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    z-index: 1;
    letter-spacing: 4px;
}

#contact .form-container {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* #contact .form-container .form-title {
    margin-bottom: 2rem;
} */

#contact .form-container .form {
    position: relative;
    width: 50%;
    height: 50px;
    overflow: hidden;
}

 #contact .form-container .form input {
    width: 100%;
    height: 100%; 
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

#contact .form-container .form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

#contact .form-container .form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#contact .form-container .content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

#contact .form-container .form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

#contact .form-container .form input:focus + .label-name::after, .form input:valid + .label-name::after {
    transform: translateX(0%);
}

#contact .form-container .content-email {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

#contact .form-container .form input:focus + .label-email .content-email, .form input:valid + .label-email .content-email {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

#contact .form-container .form input:focus + .label-email::after, .form input:valid + .label-email::after {
    transform: translateX(0%);
}

#contact .form-container .content-textarea {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

#contact .form-container .form input:focus + .label-textarea .content-textarea, .form input:valid + .label-textarea .content-textarea {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

#contact .form-container .form input:focus + .label-textarea::after, .form input:valid + .label-textarea::after {
    transform: translateX(0%);
}












