#technologies {
    padding: 80px 15px;
}

#technologies .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#technologies .title .circle {
    position: absolute;
    background: #eef9ff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 23;
}

#technologies .title h1 {
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    z-index: 1;
    letter-spacing: 4px;
}

#technologies .technologies-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#technologies .technologies-container .box {
    background: rgba(255, 255, 255, 0);
    padding: 40px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

#technologies .technologies-container .box:hover {
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
    box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);

}

#technologies .technologies-container .box .fas {
    font-size: 2rem;
    margin-bottom: 2rem;
 }

 #technologies .technologies-container .box .fab {
    font-size: 2rem;
    margin-bottom: 2rem;
 }

#technologies .technologies-container .box h5 {
   font-size: .9rem;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-bottom: 2rem;
}

#technologies .technologies-container .box p {
    font-size: .8rem;
    line-height: 1.5;
    color: #b3b3b3;
}

#technologies .technologies-container .box.blue {
    border-bottom: 2px solid #52b8ff;
}

#technologies .technologies-container .box.red {
    border-bottom: 2px solid #ff5253;
}

#technologies .technologies-container .box.yellow {
    border-bottom: 2px solid #ffc853;
}

/* Tablets */
@media only screen and (max-width: 960px) {
#technologies .technologies-container {
    grid-template-columns: 100%;
    }
    #technologies .technologies-container .box {
        background: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
        -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
        box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
    
    }
}

/* Phones */
@media only screen and (max-width: 767px) {
    
}